Package: ltr-fix
Source: ltr-fix
Version: 0.0.3
Maintainer: Laurens Bruins <l.bruins@laptopwithlinux.com>
Depends: libc6, systemd, init
Architecture: amd64
Homepage: http://laptopwithlinux.com/
Description: Fix for battery life in multiple Clevo machines
