Package: ltr-fix
Source: ltr-fix
Version: 0.0.2
Maintainer: Laurens Bruins <l.bruins@laptopwithlinux.com>
Depends: libc6, init
Architecture: amd64
Homepage: http://laptopwithlinux.com/
Description: Fix for battery life on multiple Clevo models
